In [1]:
import pandas as pd
import numpy as np

## Input data

In [2]:
data_file = open("data/iris.csv", "r")
df = pd.read_csv(data_file, delimiter=";", decimal=",")
print(df)

     sepal_length  sepal_width  petal_length  petal_width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

## Column mean

In [3]:
df.mean(numeric_only=True)

sepal_length    5.843333
sepal_width     3.057333
petal_length    3.758000
petal_width     1.199333
dtype: float64

## Total mean

## Column variance

In [4]:
variance = df.var(ddof=0, numeric_only=True)
print(variance)

sepal_length    0.681122
sepal_width     0.188713
petal_length    3.095503
petal_width     0.577133
dtype: float64

## Total variance

In [5]:
print(sum(variance))

4.5424706666666665